[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "plugins/zsh-autosuggestions/"]
	url = https://github.com:zsh-users/zsh-autosuggestions.git
